In [1]:
import pandas as pd
import numpy as np
from data_dict import get_data_dictionary
import requests
from bs4 import BeautifulSoup

In [2]:
name = 'sect13_hh_w4_v2'

In [35]:
data = pd.read_csv('~/Desktop/Mar21-humanitarian-data/data/socio-economic survey 2018-2019/Financial services-labor-economic opportunity/'+name+'.csv')

/Library/Python/3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_dict = get_data_dictionary(name)

In [4]:
data_dict

           label                                               desc
0   household_id                       Unique Household Indentifier
1      source_cd                                        Source Code
2          ea_id                Unique Enumeration Area Indentifier
3          saq14                                        Rural/Urban
4          pw_w4                       Final adjusted wave 4 weight
5          saq01                                        Region code
6          saq02                                          Zone Code
7          saq03                                        Woreda Code
8          saq04                                          City Code
9          saq05                                      Sub city code
10         saq06                                        Kebele Code
11         saq07                                            EA code
12         saq08                                       Household ID
13        s13q01  1. During the last 12 months, did HH receive a...
14        s13q02  2. How much [SOURCE] did HH receive in total d...
15      s13q03_1  3. Who in your HH kept/decided what to do with...
16      s13q03_2  3. Who in your HH kept/decided what to do with...
17       s13q04a       4a. How much [INCOME] came from rural areas?
18       s13q04b       4b. How much [INCOME] came from urban areas?
19       s13q04c   4c. How much [INCOME] came from other countries?
20        s13q05        5. How was this payment mainly made to you?

In [36]:
data

,household_id,source_cd,ea_id,saq14,pw_w4,saq01,saq02,saq03,saq04,saq05,...,saq07,saq08,s13q01,s13q02,s13q03_1,s13q03_2,s13q04a,s13q04b,s13q04c,s13q05
0,010101088800910007,101. Cash Transfer/Gifts from Individuals,10101088800910,1. RURAL,1658.475109,1. TIGRAY,1,1,8,88,...,10,7.0,1. YES,1400.0,1.0,NaN,400.0,1000.0,0.0,1. INPERSON/ CASH
1,010101088800910007,102. Food Transfers/Gifts from Individuals,10101088800910,1. RURAL,1658.475109,1. TIGRAY,1,1,8,88,...,10,7.0,1. YES,500.0,1.0,NaN,500.0,0.0,0.0,NaN
2,010101088800910007,103. Non-food In-kind Transfers/Gifts form Ind...,10101088800910,1. RURAL,1658.475109,1. TIGRAY,1,1,8,88,...,10,7.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010101088800910007,"104. Savings, Interest or Other Investment Income",10101088800910,1. RURAL,1658.475109,1. TIGRAY,1,1,8,88,...,10,7.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010101088800910007,105. Pension Income,10101088800910,1. RURAL,1658.475109,1. TIGRAY,1,1,8,88,...,10,7.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94775,150101088803701097,110. Income from Real Estate Sales,150101088803701,1. RURAL,210.761706,15. DIRE DAWA,1,1,8,88,...,1,97.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94776,150101088803701097,111. Income from household Non-Agricultural As...,150101088803701,1. RURAL,210.761706,15. DIRE DAWA,1,1,8,88,...,1,97.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94777,150101088803701097,112. Income from household Agricultural/Fishin...,150101088803701,1. RURAL,210.761706,15. DIRE DAWA,1,1,8,88,...,1,97.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94778,150101088803701097,113. Income from sales of other Fixed Assets (...,150101088803701,1. RURAL,210.761706,15. DIRE DAWA,1,1,8,88,...,1,97.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94779,150101088803701097,114. Inheritance/Lottery/Gambling Winnings,150101088803701,1. RURAL,210.761706,15. DIRE DAWA,1,1,8,88,...,1,97.0,2. NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
food_data = pd.read_csv('~/Desktop/Mar21-humanitarian-data/data/Predicting_Food_Crises_Data/predicting_food_crises_data.csv')

Is there a way to match `admin_name` with woreda or kebele?

In [47]:
set(food_data[food_data.country == 'Ethiopia'].admin_name)

{'Addis Adaba',
 'Afder',
 'Agnuak',
 'Alaba',
 'Arsi',
 'Asosa',
 'Awi/Agew',
 'Awusi',
 'Bale.1',
 'Basketo',
 'Bench Maji',
 'Borena',
 'Central Tigray',
 'Dawro',
 'Dire Dawa',
 'Doolo',
 'East Gojam',
 'East Harerge',
 'East Shewa',
 'East Wellega',
 'Eastern Tigray',
 'Fafan',
 'Fanti',
 'Gabi',
 'Gamo Gofa',
 'Gedio',
 'Guji',
 'Gurage',
 'Hadiya',
 'Hareri',
 'Horo Guduru',
 'Ilubabor',
 'Jarar',
 'Jimma',
 'KT',
 'Keffa',
 'Kelem Wellega',
 'Kemashi',
 'Khari',
 'Kilbati',
 'Konta',
 'Korahe',
 'Liben',
 'Majang',
 'Metekel',
 'Nogob',
 'North Gonder',
 'North Shewa(R3)',
 'North Shewa(R4)',
 'North Western Tigray',
 'North Wollo',
 'Nuer',
 'Oromia',
 "Segen Peoples'",
 'Selti',
 'Shabelle',
 'Sheka',
 'Sidama',
 'Siti',
 'South Gonder',
 'South Omo',
 'South West Shewa',
 'South Wollo',
 'Southern Tigray',
 'Special Woreda',
 'Wag Himra',
 'West Arsi',
 'West Gojam',
 'West Harerge',
 'West Shewa',
 'West Wellega',
 'Western Tigray',
 'Wolayita',
 'Yem'}

In [51]:
wash_data = pd.read_excel('~/Desktop/Mar21-humanitarian-data/data/WASH_Data/JMP_2019_INEQUALITIES_ETH_Ethiopia.xlsm')

In [52]:
wash_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"Joint Monitoring Programme for Water Supply, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,"Estimates on household water, sanitation and h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
covid_data = pd.read_csv('~/Desktop/Mar21-humanitarian-data/data/COVID-19 High Frequency Phone Survey of Households 2020/r1_wb_lsms_hfpm_hh_survey_public_microdata.csv')

In [56]:
list(covid_data.columns)

['household_id',
 'ii4_resp_id',
 'phw1',
 'cs4_sector',
 'cs5_eaid',
 'cs6_hhid',
 'cs7_hhh_id',
 'cs1_region',
 'cs2_zoneid',
 'cs3_woredaid',
 'cs3c_cityid',
 'cs3c_subcityid',
 'cs3b_kebeleid',
 'ea_id',
 'cs_startdate',
 'cs_submissiondate',
 'cs7a_hhh_gender',
 'cs7a_hhh_age',
 'cs12_round',
 'ii1_attempt',
 'bi_locchange',
 'bi_same_hhh',
 'kn1_heard',
 'kn2_meas_handwash',
 'kn2_meas_handshake',
 'kn2_meas_maskglove',
 'kn2_meas_travel',
 'kn2_meas_stayhome',
 'kn2_meas_gatherings',
 'kn2_meas_distance',
 'kn2_meas_facetouch',
 'kn3_gov',
 'kn3_gov_1',
 'kn3_gov_2',
 'kn3_gov_3',
 'kn3_gov_4',
 'kn3_gov_5',
 'kn3_gov_6',
 'kn3_gov_7',
 'kn3_gov_8',
 'kn3_gov_9',
 'kn3_gov_10',
 'kn3_gov_11',
 'kn3_gov_12',
 'kn3_gov_0',
 'kn3_gov__98',
 'kn3_gov__99',
 'kn3_gov__96',
 'kn3_gov_other',
 'bh1_handwash',
 'bh2_handshake',
 'bh3_gatherings',
 'ac1_atb_med',
 'ac2_atb_med_why',
 'ac2_atb_med_why_other',
 'ac1_atb_teff',
 'ac2_atb_teff_why',
 'ac2_atb_teff_why_other',
 'ac1_atb_wheat',
 'ac2_atb_wheat_why',
 'ac2_atb_wheat_why_other',
 'ac1_atb_maize',
 'ac2_atb_maize_why',
 'ac2_atb_maize_why_other',
 'ac1_atb_oil',
 'ac2_atb_oil_why',
 'ac2_atb_oil_why_other',
 'ac3_sch_child',
 'ac4_sch_girls',
 'ac4_sch_boys',
 'ac4_2_edu',
 'ac5_edu_type',
 'ac5_edu_type_1',
 'ac5_edu_type_2',
 'ac5_edu_type_3',
 'ac5_edu_type_4',
 'ac5_edu_type_5',
 'ac5_edu_type__98',
 'ac5_edu_type__99',
 'ac5_edu_type__96',
 'ac5_edu_type_other',
 'ac6_med',
 'ac7_med_access',
 'ac8_med_access_reas',
 'ac8_med_access_reas_other',
 'ac9_bank',
 'em1_work_cur',
 'em6_work_cur_act',
 'em6_work_cur_act_other',
 'em7_work_cur_status',
 'em7_work_cur_status_other',
 'em8_work_cur_same',
 'em9_work_change_why',
 'em9_work_change_why_other',
 'em2_work_pre',
 'em3_work_no_why',
 'em3_work_no_why_other',
 'em4_work_pre_act',
 'em4_work_pre_act_other',
 'em5_work_pre_status',
 'em5_work_pre_status_other',
 'em12_work_cur_able',
 'em13_work_cur_notable_paid',
 'em14_work_cur_notable_why',
 'em14_work_cur_notable_why_other',
 'em15_bus',
 'em16_bus_sector',
 'em16_bus_sector_other',
 'em17_bus_inc',
 'em18_bus_inc_low_amt',
 'em19_bus_inc_low_why',
 'em19_bus_inc_low_why_1',
 'em19_bus_inc_low_why_2',
 'em19_bus_inc_low_why_3',
 'em19_bus_inc_low_why_4',
 'em19_bus_inc_low_why_5',
 'em19_bus_inc_low_why_6',
 'em19_bus_inc_low_why_7',
 'em19_bus_inc_low_why__98',
 'em19_bus_inc_low_why__99',
 'em19_bus_inc_low_why__96',
 'em19_bus_inc_low_why_other',
 'em20_farm',
 'em21_farm_norm',
 'em22_farm_norm_why',
 'em22_farm_norm_why_1',
 'em22_farm_norm_why_2',
 'em22_farm_norm_why_3',
 'em22_farm_norm_why_4',
 'em22_farm_norm_why_5',
 'em22_farm_norm_why_6',
 'em22_farm_norm_why_7',
 'em22_farm_norm_why__98',
 'em22_farm_norm_why__99',
 'em22_farm_norm_why__96',
 'em22_farm_norm_why_other',
 'em23_we',
 'em24_we_layoff',
 'em25_we_layoff_covid',
 'lc1_farm',
 'lc2_farm_chg',
 'lc1_bus',
 'lc2_bus_chg',
 'lc1_we',
 'lc2_we_chg',
 'lc1_rem_dom',
 'lc2_rem_dom_chg',
 'lc1_rem_for',
 'lc2_rem_for_chg',
 'lc1_isp',
 'lc2_isp_chg',
 'lc1_pen',
 'lc2_pen_chg',
 'lc1_gov',
 'lc2_gov_chg',
 'lc1_ngo',
 'lc2_ngo_chg',
 'lc1_other',
 'lc1_other_source',
 'lc2_other_chg',
 'lc3_total_chg',
 'lc4_total_chg_cope',
 'lc4_total_chg_cope_1',
 'lc4_total_chg_cope_2',
 'lc4_total_chg_cope_3',
 'lc4_total_chg_cope_4',
 'lc4_total_chg_cope_5',
 'lc4_total_chg_cope_6',
 'lc4_total_chg_cope_7',
 'lc4_total_chg_cope_8',
 'lc4_total_chg_cope_9',
 'lc4_total_chg_cope_10',
 'lc4_total_chg_cope_11',
 'lc4_total_chg_cope_12',
 'lc4_total_chg_cope_13',
 'lc4_total_chg_cope_14',
 'lc4_total_chg_cope_15',
 'lc4_total_chg_cope_0',
 'lc4_total_chg_cope__98',
 'lc4_total_chg_cope__99',
 'lc4_total_chg_cope__96',
 'lc4_total_chg_cope_other',
 'fi7_outoffood',
 'fi8_hungrynoteat',
 'fi6_noteatfullday',
 'as1_assist_type',
 'as1_assist_type_1',
 'as1_assist_type_2',
 'as1_assist_type_3',
 'as1_assist_type_0',
 'as1_assist_type__98',
 'as1_assist_type__99',
 'as1_assist_type__96',
 'as1_assist_type_other',
 'as3_food_value',
 'as2_food_psnp',
 'as4_food_source',
 'as4_food_source_other',
 'as3_forwork_value_food',
 'as3_forwork_value_cash',
 'as2_forwork_psnp',
 'as4_forwork_source',
 'as4_forwork_source_other',
 'as3_cash_value',
 'as2_cash_psnp',
 'as4_cash_source',
 'as4_cash_source_other',
 'as3_other_value',
 'as2_other_psnp',
 'as4_other_source',
 'as4_other_source_other',
 'ir1_endearly',
 'ir1_whyendearly',
 'ir1_whyendearly_other',
 'ir_lang',
 'ir_understand',
 'ir_confident',
 'key']

In [58]:
#Grab the page
page = requests.get()
soup = BeautifulSoup(page.text, 'html.parser')
mydivs = soup.find_all("div", {"class": "table-variable-list"})

#Now build the data dictionary
data_dictionary = []
for row in mydivs[0].find_all('div', {"class": 'var-row'}):
    col_data = [i.text.strip() for i in row.find_all('a')]
    data_dictionary.append(col_data)
data_dictionary_df = pd.DataFrame(data_dictionary, columns=['label', 'desc'])

NameError: name 'url' is not defined

In [60]:
page

In [61]:
soup = BeautifulSoup(page.text, 'html.parser')

In [63]:
lis = soup.find_all("li", {"class": "nada-list-group-item"})

In [95]:
type(lis[1].find_all('a')[0].text)

str

In [106]:
for i in range(1, len(lis)-1):
    if name in lis[i].find_all('a')[0].text:
        url = lis[i].find_all('a')[0].attrs['href']
        break

In [97]:
len(lis)

69

In [99]:
lis[68]

<li class="nada-list-group-item">
<a href="https://microdata.worldbank.org/index.php/catalog/3823/data-dictionary/F71?file_name=Food_CF_Wave4.dta">Food_CF_Wave4.dta</a>
</li>

In [107]:
url

'https://microdata.worldbank.org/index.php/catalog/3823/data-dictionary/F65?file_name=sect13_hh_w4_v2.dta'